<div ng-include = "'./components/includes/_header.html'"></div>

<body>

      <!--==========================
      Video Header Section
    ============================--><!-- <section id="videoheader"-->
      <div class="row" id="vid">
 

        <div class="col-lg-6 about-img">
          <img src="../../sources/img/Header Vals.jpg" alt="" class="imagenheader">
        </div>
      </div>
  </section> 

    <!--==========================
      Sobre nosotros Section
    ============================-->

  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="../../sources/img/lollipop2.png" alt="">
        </div>

        <div class="col-lg-6 content">
          <h2>Sobre Nosotros</h2>
          <h3>Un funeraria para celebrar la mejor parte de la vida. ¡MORIRSE!</h3>

          <ul>
            <li><i class="ion-android-checkmark-circle"></i> Muérase tranquilo, nosostros nos encargamos de todo.</li>
            <li><i class="ion-android-checkmark-circle"></i> No se muera mañana si puede morirse hoy.</li>
            <li><i class="ion-android-checkmark-circle"></i> Desde nuestra excelente ubicción en Silent Hill le ofrecemos las mejores instalaciones y los más modernos servicios para sus difuntos, aunque qué importa, no podrán disfrutarlos.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
      Servicios Section
    ============================-->
    <section id="services">
        <div class="container">
          <div class="section-header">
            <img src="../../sources/img/servicios.png" alt="" class="imagenservicios">
            <p class="TextoServicios">En EL VALS DE LOS MUERTOS nos sentimos complacidos de que sus difuntos, tengan el mejor día de sus post-vidas. Nuestros clientes son la envidia de los demás dolientes, quiénes no pueden esperar por que un ser querido muera para acceder a nuestro increíble catálogo de servicios</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6" class="Imagenmuertos">
              <div class="caja wow fadeInLeft">
                <p class="description">Todos sus muertitos pueden ser registrados en nuestro sistema y de esa forma acceder a muchos servicios que lo harán sentir más vivo que nunca.</p>
              </div>
            </div>

            <div class="col-lg-6" class="Imagenmuertos">
                <div class="caja2 wow fadeInLeft">
                  <p class="description">Estar muerto no es excus para dejar el glamour. Nuestros entierros son mundialmente reconocidos por hacer de tu viaje final, un viaje con estilo.</p>
                </div>
              </div>

              <div class="col-lg-6" class="Imagenmuertos">
                  <div class="caja3 wow fadeInLeft">
                    <p class="description">Nunca más te dirán que tienes cara de muerto, con nuestras sesiones de maquillaje, peluquería y demás, tu muertito será el más guapo en las puertas del Valhalla.</p>
                  </div>
                </div>

                <div class="col-lg-6" class="Imagenmuertos">
                    <div class="caja4 wow fadeInLeft">
                      <p class="description">Le damos un nuevo significado a festejqr hasta morir, con nuestras fiestas para celebrar el descenso de su muertito a su tortura eterna.</p>
                    </div>
                  </div>


  
  
          </div>
  
        </div>
      </section><!-- #services -->


          <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                  <h3 class="cta-title">No olvides registrarte</h3>
                  <p class="cta-text"> Nuestro infernal sistema, te permitirá acceder  nuestros servicios y tener una cuenta en la Funeraria EL VALS DE LOS MUERTOS.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                  <a class="cta-btn align-middle" href="#">Regístrese</a>
                </div>
              </div>
      
            </div>
          </section><!-- #call-to-action -->

          <!--==========================
      Testimonios Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
            <div class="container">
              <div class="section-header servicescolor">
                <h2>Testimonios</h2>
                <p>Nuestros clientes van desde monstruos, zombies, vampiros y dem[as gente linda del inframundo, sus opiniones nos hacen caer muertos de la felicidad.</p>
              </div>
              <div class="row testimonials-carousel">
      
                  <div class="col-lg-5 testimonial-item">
                    <p>
                      <img src="../../sources/img/quote-sign-left.png" class="quote-sign-left" alt="">
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      <img src="../../sources/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="../../sources/img/testimonial-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                  </div>
      
                  <div class="col-lg-5 testimonial-item">
                    <p>
                      <img src="../../sources/img/quote-sign-left.png" class="quote-sign-left" alt="">
                      Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      <img src="../../sources/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="../../sources/img/testimonial-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                  </div>
      
                  <div class="col-lg-5 testimonial-item">
                    <p>
                      <img src="../../sources/img/quote-sign-left.png" class="quote-sign-left" alt="">
                      Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      <img src="../../sources/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="../../sources/img/testimonial-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                  </div>
      
                  <div class="col-lg-5 testimonial-item">
                    <p>
                      <img src="../../sources/img/quote-sign-left.png" class="quote-sign-left" alt="">
                      Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                      <img src="../../sources/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="../../sources/img/testimonial-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                  </div>
      
          
      
              </div>
      
            </div>
          </section><!-- #testimonials -->

        
  
  
</body>



<div ng-include="'./components/includes/_footer.html'"></div>

