<header class="mb-12 paddingbot">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top mb-10">
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
           
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/#!/users">NOSOTROS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SERVICIOS
                            </a>
                        
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" ui-sref="#">Retoques de difuntos</a>
                                <a class="dropdown-item" ui-sref="#">Fiestas de difuntos</a>
                                <a class="dropdown-item" ui-sref="#">Entierros</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="/#!/users">TESTIMONIOS</a>
                        </li>
                        <li> <a class="navbar-brand" href="#">
                                <img src="../../sources/img/logo_funeraria.png" alt="el vals dlos  muertos" width="88" height="73.375">
                              </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="#contact">CONTACTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="usuarios">REGISTRARSE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="logIn">INICIAR SESIÓN</a>
                        </li>
                    </ul>
                </div>
              </nav>
           </header>
           

