@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');


.bg-black{
  background: #000;
}


.nav-item {
  padding-top: 20px;
  font-family: 'Dosis', sans-serif;
}
.navbar-nav {
  text-align: center;
  margin: 0 auto;
}

/* Video Section
--------------------------------*/

#bg-video {
  background-color: black;
  width: 100vw; 
  height: 100vh;
  position: relative;
  left: 0px;
  top: 0px;
  margin-bottom: 70px;
}

/* Sobre nosotros Section
--------------------------------*/
#